<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIPH9OPk1Fg0DChbCf1IKvLqPJBiYCpH8</string>
	<key>GCM_SENDER_ID</key>
	<string>549814122567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meditycompany.medity</string>
	<key>PROJECT_ID</key>
	<string>medity-3abc0</string>
	<key>STORAGE_BUCKET</key>
	<string>medity-3abc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549814122567:ios:e66183da1fa87de6341962</string>
</dict>
</plist>